# NickManage 全局环境变量模板 (.env.example)

# --- 核心路径 ---
MNG_HOME=
LOG_HOME=
USER_HOME=
WORK_SPACE_HOME=

# --- 底座层 (Ops) ---
# Gitea
GITEA__database__PASSWD=
GITEA__security__SECRET_KEY=
GITEA__oauth2__JWT_SECRET=

# 日志 (Logging)
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=

# --- 共享层 (Share) ---
# ChromaDB
ALLOW_RESET=false

# Embedding
EMBEDDING_MODEL_PATH=
EMBEDDING_CPU_CORES=

# Llama.cpp (LLM)
LLM_MODEL_PATH=
LLM_CPU_CORES=

# MLFlow
MLFLOW_SERVER_DEFAULT_ARTIFACT_ROOT=/mlflow/artifacts

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis
REDIS_PASSWORD=

# Whisper (STT)
WHISPER_MODEL_PATH=
WHISPER_CPU_CORES=
